.box1{
    width: 250px;
    height: 400px;
    background: green;
    border-radius: 7px;
    float: left;
    
}
.box2{
    width: 250px;
    height: 400px;
    background: red;
    border-radius: 7px;
    float:left;
}
.box3{
    width: 250px;
    height: 400px;
    background: blue;
    border-radius: 7px;
    float:left;
}
.box4{
    width: 250px;
    height: 400px;
    background: yellow;
    border-radius: 7px;
    float:left;
}
.foto{
    width: 200px;
    height: 200px;
}
.fondo{
    width:200px;
    height:200px;
    align-items: center;
}