.carta{
    border: 4px solid goldenrod;
    width: 250px;
    height: 400px;
    background-color: grey;
    border-radius: 7px;
    float: left;   
    margin: 2px;
}
.cabecero{
    margin: 10px;
}
.habilidades{
    margin: 10px;
}

.hp {
    margin-left: 40%;
    
}

.foto{
    width: 200px;
    height: 200px;
}
.fondo{ 
    background-image: url("./img/pokemon-background.png");
    margin: 20px;
    border: 2px solid goldenrod;
    border-radius: 2px;
}
.planta{
    background-color: darkgreen;
}
.fuego{
    background-color: red;
}
.agua {
    background-color: steelblue;
    
}
.electrico{
    background-color: yellow;
}