.carta{
    border: 8px solid goldenrod;
    width: 250px;
    height: 400px;
    background-color: black;
    border-radius: 7px;
    float: left;   
    padding: 12px;
    margin: 5px;
}
.cabecero{
    margin-bottom: 10px;
}
.hp {
    float: right;
}

.foto{
    width: 200px;
    height: 200px;
}
.fondo{ 
    background-image: url("./img/pokemon-background.png");
    border: 2px solid goldenrod;
    border-radius: 2px;
}
.planta{
    background-color: darkgreen;
}
.fuego{
    background-color: red;
}
.agua {
    background-color: steelblue;
    
}
.electrico{
    background-color: yellow;
}